.default-color0.chart-series-line { -fx-stroke: red; }
.default-color1.chart-series-line { -fx-stroke: pink; }
.default-color2.chart-series-line { -fx-stroke: transparent; }
.default-color3.chart-series-line { -fx-stroke: transparent; }
.default-color4.chart-series-line { -fx-stroke: transparent; }
.default-color5.chart-series-line { -fx-stroke: transparent; }

.default-color0.chart-line-symbol { 
    -fx-background-color: transparent, transparent;
}
.default-color1.chart-line-symbol { 
    -fx-background-color: transparent, transparent;
}
.default-color2.chart-line-symbol {  
    -fx-background-color: white, green;  
}
.default-color3.chart-line-symbol {  
    -fx-background-color: white, cyan;  
}
.default-color4.chart-line-symbol {  
    -fx-background-color: white, orange;  
}
.default-color5.chart-line-symbol {  
    -fx-background-color: white, purple;  
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: red;
 }
.default-color1.chart-legend-item-symbol{
    -fx-background-color: pink;
 }
.default-color2.chart-legend-item-symbol{
    -fx-background-color: green;
 }
.default-color3.chart-legend-item-symbol{
    -fx-background-color: cyan;
 }
.default-color4.chart-legend-item-symbol{
    -fx-background-color: orange;
 }
.default-color5.chart-legend-item-symbol{
    -fx-background-color: purple;
 }